{% load static i18n %}
<header class="toolbar">
    <div class="toolbar__area">
        <div class="container">
            <div class="d-flex justify-content-between align-items-center">
                <div class="toolbar__area-contacts">
                    <a href="{% url 'contacts' %}"><i class="fa fa-address-book"></i> {% trans 'Контакты' %}</a>
                </div>
                <form action="{% url 'set_language' %}" method="post" class="toolbar__area-languages ">{% csrf_token %}
                    <input name="next" type="hidden" value="{{ redirect_to }}">
                    <select name="language" class="form-select select_send_language">
                        {% get_available_languages as LANGUAGES %}
                        {% get_language_info_list for LANGUAGES as languages %}
                        {% for language in languages %}
                            <option value="{{ language.code }}" {% if language.code == LANGUAGE_CODE %}selected{% endif %}>
                                {% if language.code == 'ru' %}
                                    🇷🇺 {{ language.name_local }}
                                {% elif language.code == 'ky' %}
                                    🇰🇬 {{ language.name_local }}
                                {% elif language.code == 'en' %}
                                    🇺🇸 {{ language.name_local }}
                                {% endif %}
                            </option>
                        {% endfor %}
                    </select>
                </form>
            </div>
        </div>
    </div>
    <nav class="nav">
        <div class="container">
            <div class="nav__menu">
                <div class="nav__menu-logo">
                    <a href="{% url 'index' %}"><img src="{% static 'dist/images/logo/logo-official-badk.webp' %}" alt="logo"></a>
                </div>
                <div class="nav__menu-icon"><span></span></div>
                <div class="nav__menu-body">
                    <ul class="nav__menu-list">
                        <li><a href="{% url 'index' %}" class="nav__menu-link">{% trans 'Главная' %}</a></li>
                        <li>
                            <a href="#" class="nav__menu-link">
                                {% trans 'О колледже' %}
                                <span class="nav__menu-arrow"></span>
                            </a>
                            <ul class="nav__menu__sub-list">
                                <li><a href="{% url 'history' %}" class="nav__menu__sub-link">{% trans 'История' %}</a></li>
                                <li><a href="{% url 'password_college' %}" class="nav__menu__sub-link">{% trans 'Паспорт колледжа' %}</a></li>
                                <li><a href="{% url 'employees' %}" class="nav__menu__sub-link">{% trans 'Структура' %}</a></li>
                                <li><a href="{% url 'news_list' %}" class="nav__menu__sub-link">{% trans 'Новости' %}</a></li>
                                <li><a href="{% url 'documents_list' %}" class="nav__menu__sub-link">{% trans 'Нормативные документы' %}</a></li>
                                <li><a href="https://www.ebs.el-kitep.kg/" target="_blank" class="nav__menu__sub-link">{% trans 'Библиотека' %}</a></li>
                                <li><a href="{% url 'cooperation' %}" class="nav__menu__sub-link">{% trans 'Сотрудничество' %}</a></li>
                                <li><a href="{% url 'internationals' %}" class="nav__menu__sub-link">{% trans 'Международное сотрудничество' %}</a></li>
                            </ul>
                        </li>
                        {% if edu_processes %}
                        <li>
                            <a href="#" class="nav__menu-link">
                                {% trans 'Учебный процесс' %}
                                <span class="nav__menu-arrow"></span>
                            </a>
                            <ul class="nav__menu__sub-list">
                                {% for edu_process in edu_processes %}
                                    <li>
                                        <a href="{% url 'edu_process_detail' edu_process.pk %}" class="nav__menu__sub-link">{{ edu_process }}</a>
                                    </li>
                                {% endfor %}
                            </ul>
                        </li>
                        {% endif %}
                        <li>
                            <a href="#" class="nav__menu-link">
                                {% trans 'Абитуриентам' %}
                                <span class="nav__menu-arrow"></span>
                            </a>
                            <ul class="nav__menu__sub-list">
                                <li>
                                    <a href="{% url 'reception' %}" class="nav__menu__sub-link">{% trans 'Приемная комиссия' %}</a>
                                </li>
                                <li>
                                    <a href="{% url 'specialties_list' %}"
                                       class="nav__menu__sub-link">{% trans 'Наши Специальности' %}</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="#" class="nav__menu-link">
                               {% trans 'Студентам' %}
                                <span class="nav__menu-arrow"></span>
                            </a>
                            <ul class="nav__menu__sub-list">
                                <li>
                                    <a href="https://avn.badk.kg/" target="_blank" class="nav__menu__sub-link">{% trans 'Дистанционное обучение «AVN»' %}</a>
                                </li>
                                <li>
                                    <a href="{% url 'students' %}" class="nav__menu__sub-link">{% trans 'Студенческий совет' %}</a>
                                </li>
                                <li>
                                    <a href="{% url 'student_live_list' %}" class="nav__menu__sub-link">{% trans 'Студенческая жизнь' %}</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="{% url 'contacts' %}" class="nav__menu-link">{% trans 'Контакты' %}</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
</header>