.cooperation {
  &-list {
    & li {
      list-style-type: none;
      margin: 10px 0;
      & a {
        color: $--bs-text;
        font-weight: 700;
        text-decoration: none;
        font-size: 18px;
        transition: var(--transition-fast);

        &:hover {
          color: $--bs-official;
          transform: translateX(4px);
        }
      }
    }
  }
  &__wrap {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 24px;
  }
  .international-card {
    height: 360px !important;
    .card-body {
      height: 66px;
      margin-bottom: 15px;
    }
  }
}