@media (max-width: 1024px) {
.header {
    &__title {
      h2 {
        font-size: 39px;
      }
    }
  }
}

@media (max-width: 768px) {
  .header {
    padding: 32px 0;
    border-radius: 24px;

    &__title {
      margin-bottom: 1rem;
      h2 {
        font-size: 28px;
      }
    }
  }
}