@media (max-width: 380px) {
  .section .title {
    h3 {
      font-size: clamp(18px, 5vw, 22px);
    }

    span {
      font-size: 11px;
    }
  }
}

@media (max-width: 576px) {
  .section .title {
    margin-bottom: 1.5rem;
  }
}