{% extends 'base/base.html' %}
{% load static i18n %}

{% block title %}{% trans 'История создания и развития учебного заведения' %}{% endblock %}

{% block content %}
    <section class="section history">
        <div class="container">
            <div class="title animate__animated animate__fadeInUp">
                <span>{% trans 'О колледже' %}</span>
                <h3>{% trans 'История создания и развития учебного заведения' %}</h3>
            </div>
            <div class="history-text animate__animated animate__fadeInUp">
                <p>{{ site_content.history_paragraph_1|safe }}</p>
                <p>{{ site_content.history_paragraph_2|safe }}</p>
                <div style="overflow:hidden">
                    <img src="{% static 'dist/images/college/HY2343.webp' %}" style="max-width: 500px; width: 100%; float:left" class="mr-4 mt-3" alt="">
                    <p>{{ site_content.history_paragraph_3|safe }}</p>
                </div>
                <div style="overflow:hidden">
                    <img src="{% static 'dist/images/college/HY3423.webp' %}" style="max-width: 300px; width: 100%; float:left" class="mr-4 mt-3" alt="">
                    <p>{{ site_content.history_paragraph_4|safe }}</p>
                    <p>{{ site_content.history_paragraph_5|safe }}</p>
                </div>
                <div style="overflow:hidden">
                    <img src="{% static 'dist/images/college/HY3422.webp' %}" style="max-width: 300px; width: 100%; float:left" class="mr-4 mt-3" alt="">
                    <p>{{ site_content.history_paragraph_6|safe }}</p>
                    <p>{{ site_content.history_paragraph_7|safe }}</p>
                    <p>{{ site_content.history_paragraph_8|safe }}</p>
                </div>
            </div>
        </div>
    </section>
{% endblock %}